* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background: url(image/bg-image.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.clock {
    width: 100%;
    max-width: 400px;
    height: 24vh;
    display: flex;
    justify-content: center;
    align-items: center;
    color: aliceblue;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1),
        0px 10px 20px rgba(0, 0, 0, 0.7);
    border-radius: 5px;
    padding: 20px;
    background: rgba(0, 0, 0, 0.5);
}

.clock h1{
    font-size: 3.5rem;
    font-weight: 600;
}

.clock span {
    position: relative;
    top: -13% ;
    margin-left: 5px;
    font-size: 20px;
    font-weight: 700;
}